# Database - SQL Server
# Format: sqlserver://HOST:PORT;database=DB_NAME;user=USERNAME;password=PASSWORD;trustServerCertificate=true
DATABASE_URL="sqlserver://HOST:1433;database=lpe_hub;user=USERNAME;password=PASSWORD;trustServerCertificate=true"

# NextAuth
AUTH_SECRET="your-random-secret-key-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
